.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3em;
  position: fixed;
  width: -webkit-fill-available;
  padding-right: 1em;
  height: 80px;
  background: #ffffff;
  z-index: 99;
  margin-top: 0px;
  border-color: rgb(255, 255, 255);
  padding-left: 2em;
  padding-top: 1em;
}

.topnav {
  width: -webkit-fill-available;
}
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.ant-modal .ant-modal-content {
  padding: 0;
}
