.career {
  padding-left: 9vw !important;
  .ant-card {
    border-radius: 20px;
    width: 100%;
  }
}
.office-picture {
  border-radius: 1.5em;
  height: 100%;
  width: 100%;
}
.pt-2 {
  padding-top: 2em;
}
.center {
  text-align: center;
}
