.aside {
  position: fixed;
  right: 30px;
  top: 105px;
  z-index: 9;
  width: 220px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.score {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: Roboto;
}

.palette {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  font-size: 16px;
  margin-top: 0.3em;
}

.fonts {
  h3 {
    color: black !important;
    font-family: Roboto;
    margin: 0;
  }
  .elements {
    display: flex;
    gap: 0.3em;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    span {
      cursor: pointer;
      text-align: center;
    }
  }
}
.sizes {
  h3 {
    color: black !important;
    font-family: Roboto;
    margin: 0;
  }
  .elements {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    gap: 0.3em;
    span {
      cursor: pointer;
      text-align: center;
    }
  }
}

.blur {
  h3 {
    color: black;
    font-family: Roboto;
    margin: 0;
  }
}
